/*--------------------------< SETUP >--------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --header-height: 100px;

    --header-li-width: 135px;
    --header-li-top-margin: 20px;
    --header-li-right-margin: 15px;

    --li-background-gradient: #e3f7f4;

    --background-color: #033785;
}

body {
    font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
}

/*----------------------< HEADER STUFFS >-----------------------*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-image: radial-gradient(ellipse at top left, #2456b9a9, #3c569d69);
    backdrop-filter: blur(5px);
    z-index: 100;

    font-family: 'Roboto Condensed', Calibri, 'Trebuchet MS', sans-serif;

    box-shadow: 0px 2px 5px #00000079;
    overflow-x: scroll;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#header::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#header ul li {
    margin-top: var(--header-li-top-margin);
    margin-right: var(--header-li-right-margin);
}
#header ul li:last-child {
    margin-right: 0;
}

#header ul a {
    color: black;
    text-decoration: none;
}

#header ul li a div {
    min-width: var(--header-li-width);
    padding-left: 20px;
    padding-right: 20px;
    height: calc(var(--header-height) - var(--header-li-top-margin) * 2);
    background-color: white;
    text-decoration: none;

    text-align: center;
    padding-top: calc((var(--header-height) - var(--header-li-top-margin) * 2) / 3.1);
    box-sizing: border-box;
    user-select: none;
    font-size: 20px;

    border-left: 5px #4756c6 solid;
    border-right: 5px #4756c6 solid;
    background-image: linear-gradient(to top, var(--li-background-gradient), #ffffff);

    box-shadow: 0px 3px 3px #00000048;
    
    transition: 0.1s ease;
    transition-property: margin-top, box-shadow;
}
#header ul li a div:hover {
    margin-top: -3px;
    box-shadow: 0px 5px 6px #0000002c;
}

#header ul li:first-child a div {
    border-left: none !important;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-image: radial-gradient(ellipse at bottom right, var(--li-background-gradient), #ffffff);
}
#header ul li:last-child a div {
    border-right: none !important;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: radial-gradient(ellipse at bottom left, var(--li-background-gradient), #ffffff);
}


/*-------------------------< OTHER STUFFS >--------------------------*/

#ff {
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    transition: ease-out 6s;
    transition-property: transform opacity;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

#content {
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: calc(100% - var(--header-height));
}

#main {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0px 5px 8px #000000c0;
    width: 1000px;
    min-height: 500px;
    max-height: fit-content;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 150px;
}

#main .header h1 {
    font-weight: 500;
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin: auto;

}

#main p, #main ul li {
    font-size: 20px;
    margin-bottom: 8px;
}

#main p {
    line-height: 30px;
}

#main .content ul {
    margin-top: 24px;
    margin-bottom: 25px;
}

#main .header {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% );
    height: 100px;
    /*background-image: radial-gradient(circle at top left, #bcdbff, #b8ebff);*/
    background-color: #a8cbf3;
    z-index: -100;
    align-content: center;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#main .content {
    margin: 0;
    margin-top: 100px;
    width: calc(100% - 100px);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 1px;
    padding-bottom: 30px;
    min-height: 450px;
}

.background {
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}
#lowquality_background {
    z-index: -101;
}

#gradient {
    z-index: -99;
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #269bfa00, var(--background-color));
}

#spacer {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100px;
    background-color: transparent;
}

.center {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.mainimage {
    border-radius: 8px;
    box-shadow: 0px 4px 5px #0000009f;
}

.shadowimage {
    filter: drop-shadow(0px 5px 5px #0000009f);
}